// SCREEN SIZES
$small-screen: 320px;
$medium-screen: 768px;
$large-screen: 1920px;

// COLORS
$highlight-color: #0074c4;

// FONTS
$body-font: "Arial";
$title-font: "SuecaSlab";

// LINE HEIGHTS
$body-line-height: 24px;
$title-line-height: 28px;
