$small-screen: 320px;
$medium-screen: 768px;
$large-screen: 1920px;

$title-font: "Sueca Slab";
$body-font: "Arial";

$background-color: #fefefe;
$highlight-color: #0074c4;
$border-color: #cccccc;

$font-size-title-small: 18px;
$font-size-title-big: 20px;
$font-size-title-extra-big: 32px;

$font-size-body: 16px;

$line-height-title-small: 26px;
$line-height-title-big: 28px;
$line-height-title-extra-big: 40px;

$line-height-body: 24px;
