@include mixins.for-tablet {
  .container-title {
    padding: 8px 0;
    margin: 0;
    margin-bottom: 16px;
  }

  .inner-container {
    $gap-between-articles: 32px;
    $gap: 16px;

    @import "./Tablet/Notas2";

    @import "./Tablet/Notas3";

    @import "./Tablet/FocalIzquierdo";
  }
}
