@use "../../../abstracts/variables" as variables;
@use "../../../abstracts/mixins" as mixins;

@include mixins.for-tablet {
  .news-article {
    $article-width: 234px;

    width: $article-width;

    .title,
    .tail,
    .marquee-with-author {
      padding: 0;
    }
    .title {
      font-size: variables.$font-size-title-small;
      line-height: variables.$line-height-title-small;
    }
    .image {
      $height: 156px;

      height: $height;
    }
    @import "./Tablet/AuthorScoped";
    @import "./Tablet/ColorScoped";
  }
}
