@use "../../abstracts/variables" as variables;
@use "../../abstracts/mixins" as mixins;

@font-face {
  font-family: "Sueca Slab";
  src: url("../../../public/suecaslab-bold-webfont.woff2");
}

@font-face {
  font-family: "Sueca Slab";
  src: url("../../../public/suecaslab-medium-webfont.woff2");
}

.news-article {
  $article-width: 100%;
  $gap-between-elements: 8px;
  $article-padding: 22px;

  display: flex;
  flex-direction: column;
  gap: $gap-between-elements;
  width: $article-width;
  a {
    text-decoration: none;
    color: inherit;
  }
  .image {
    $heigth: 192px;
    width: 100%;
    min-height: $heigth;
  }
  .title {
    $font-size: 18px;
    $line-height: 26px;

    font-weight: normal;
    font-family: variables.$title-font;
    padding: 0 $article-padding;
    font-size: $font-size;
    line-height: $line-height;
  }
  .lead {
    color: variables.$highlight-color;
  }
  .tail {
    $font-size: 16px;
    $line-height: 24px;

    padding: 0 $article-padding;
    font-size: $font-size;
    line-height: $line-height;
  }
  .marquee-with-author {
    $font-size: 14px;
    $line-height: 16px;

    font-weight: bold;
    font-size: $font-size;
    line-height: $line-height;
    padding-left: $article-padding;
  }

  @import "./styles/AuthorScoped";

  @import "./styles/ColorScoped";
}

@import "./styles/Tablet";

@import "./styles/Desktop";
