@use "../../abstracts/variables" as variables;
@use "../../abstracts/mixins" as mixins;

@font-face {
  font-family: "Sueca Slab";
  src: url("../../../public/suecaslab-bold-webfont.woff2");
}

@font-face {
  font-family: "Sueca Slab";
  src: url("../../../public/suecaslab-medium-webfont.woff2");
}

.news-article {
  $article-width: 100%;
  $gap-between-elements: 8px;
  $article-padding: 22px;

  display: flex;
  flex-direction: column;
  width: $article-width;
  gap: $gap-between-elements;
  .article-link {
    $animation-time: 0.2s;

    text-decoration: none;
    color: inherit;
    transition: $animation-time ease;
    &:hover {
      opacity: 0.8;
    }
  }
  .image {
    $heigth: 192px;

    width: 100%;
    min-height: $heigth;
  }
  .title {
    font-family: variables.$title-font;
    font-size: variables.$font-size-title-big;
    font-weight: normal;
    line-height: variables.$line-height-title-big;
    padding: 0 $article-padding;
  }
  .lead {
    color: variables.$highlight-color;
  }
  .tail {
    font-size: variables.$font-size-body;
    line-height: variables.$line-height-body;
    padding: 0 $article-padding;
  }
  .marquee-with-author {
    $font-size: 14px;
    $line-height: 16px;

    font-size: $font-size;
    font-weight: bold;
    line-height: $line-height;
    padding-left: $article-padding;
  }

  @import "./styles/AuthorScoped";

  @import "./styles/ColorScoped";
}

@import "./styles/Tablet";

@import "./styles/Desktop";
