@use "../../abstracts/mixins" as mixins;

.container {
  $gap-between-articles: 32px;
  $max-width: 920px;

  display: flex;
  flex-direction: column;
  gap: $gap-between-articles;
  margin: auto;
  max-width: $max-width;
}

@include mixins.for-tablet {
  .container {
    &.notas-3 {
      flex-direction: row;
      gap: 16px;
    }
    &.focal-izquierdo {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
