@use "../../abstracts/mixins" as mixins;
@use "../../abstracts/variables" as variables;

$gap-between-articles: 32px;

.inner-container {
  $max-width: 736px;

  display: flex;
  flex-direction: column;
  gap: $gap-between-articles;
  max-width: $max-width;
}

.container-title {
  $font-size: 24px;
  $line-height: 32px;
  $border-color: variables.$border-color;
  $margin: 16px;
  $bottom: 8px;

  font-family: variables.$title-font;
  font-size: $font-size;
  font-weight: bold;
  line-height: $line-height;
  margin: $margin;
  padding-bottom: $bottom;
  border-bottom: 1px solid $border-color;
}

@import "./styles/Tablet";

@import "./styles/Desktop";
