@use "../../abstracts/mixins" as mixins;

.container {
  $gap-between-articles: 32px;

  max-width: 960px;
  display: flex;
  flex-direction: column;
  gap: $gap-between-articles;
  margin: auto;
  &.notas-3 {
    @include mixins.for-tablet {
      gap: 16px;
      flex-direction: row;
    }
  }
  &.focal-izquierdo {
    @include mixins.for-tablet {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
