&.focal-izquierdo {
  $foco-izquierdo-width: 470px;
  $foco-derecho-width: 234px;
  $line-color: variables.$border-color;

  display: grid;
  grid-template-columns: $foco-izquierdo-width $foco-derecho-width + $gap;
  gap: $gap;
  border-bottom: 1px solid $line-color;
  padding-bottom: $gap-between-articles;
  .foco-izquierdo {
    .news-article {
      display: flex;
      flex-direction: column;
      width: $foco-izquierdo-width;
      .image {
        $height: 313px;

        height: $height;
        order: 1;
      }
      .title {
        font-size: variables.$font-size-title-extra-big;
        line-height: variables.$line-height-title-extra-big;
        font-weight: bold;
      }
    }
  }
  .foco-derecho {
    padding-left: $gap;
    border-left: 1px solid $line-color;
    display: flex;
    flex-direction: column;
    gap: $gap;
    .news-article {
      width: $foco-derecho-width;
    }
  }
}
