@use "./abstracts/variables" as variables;
@use "./abstracts/mixins" as mixins;

*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  $background-color: variables.$background-color;

  font-family: variables.$body-font;
  max-width: 100%;
  background-color: $background-color;
}

.main-content {
  $gap-between-sections: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: $gap-between-sections 0;
  gap: $gap-between-sections;
}
